/* form.module.css */
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar horizontalmente */
  margin: 2rem auto; /* Margen alrededor del formulario */
  width: 70%;
  max-width: 600px;/* Ejemplo de color de fondo */
  padding: 20px; /* Espaciado interno para que no se vea pegado */
  border-radius: 8px; /* Bordes redondeados */
  border: 2px solid white;
  backdrop-filter: blur(20px);
  color: white;
}

.formLabel {
  width: 100%; /* Mantener el label al 100% */
  margin-bottom: 5px; /* Espacio entre el label y el input */
  color: white;
}

.formInput {
  width: 100%; /* Cambia el ancho a un 60% para que no ocupe todo el espacio */
  padding: 10px; /* Espaciado interno para los inputs */
  border: 1px solid white; /* Borde del input */
  background: transparent;
  border-radius: 4px; /* Bordes redondeados */
  margin-bottom: 15px; /* Espacio entre inputs */
}

.text{

  align-items: center;

}


